<div id="paul">
<mat-grid-list cols="4" rowHeight="100px" style="display:contents;">
  <form #f="ngForm" (ngSubmit)="add(f.value)">
    <mat-grid-tile class="title" colspan="4" rowspan="1">
      <div >Add a Word to the Database</div>
    </mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan="1">
      <mat-form-field class="item">
        <mat-label>Root word</mat-label>
        <input name="root" class="input" matInput placeholder="" [(ngModel)]="data.root">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan="1">
      <mat-form-field class="item">
        <mat-label>Replacement word or phrase</mat-label>
          <input name="replacement" class="input" matInput placeholder="" [(ngModel)]="data.replacement">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan="1">
      <button type="submit" mat-flat-button class="item button">Add</button>
    </mat-grid-tile>
  </form>
</mat-grid-list>  
</div>
