.box{
    min-height:3rem;
    min-width:3rem;
    border:3px solid #2d3436;
    border-radius: 5px;
}

.item{
    min-width:50%;
}

.button{
    background:#00b894; 
    color:white;
}

.input {
    text-align:center;
    font-size:3rem;
}

::ng-deep .error{
    background:red;
    color:white;
    text-align:center;
}

::ng-deep .success{
    background:green;
    color:white;
    text-align:center;
}

::ng-deep .duplicate{
    background:yellow;
    color:white;
    text-align:center;
}
