.card {
  min-width: 200px;
  margin:10px;
}

.root{
    text-align:center;
    font-size:18px;
    font-weight:bold;
}

.replacement{
    text-align:center;
    font-size:18px;
}

.accept{
    background:#00b894; 
    color:white;
}

.deny{
    background:red; 
    color:white;
}
