<div class="container">
  <div class="row">
    <div class="col-sm">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 searchBox" type="search" placeholder="input here">
        <button (click)="makeBat()" class="btn btn-outline-success my-2 my-sm-0" type="submit">make bat</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <button type="button" class="btn btn-info btn-lg btn-block">{{bat}}</button>
    </div>
  </div>
</div>
