<mat-grid-list cols="1" rowHeight="3:1">
  <mat-grid-tile>
    <form #f="ngForm" (ngSubmit)="add(f.value)" class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label style="width:100%;">Root word</mat-label>
        <input name="root" matInput placeholder="nocturnal" [(ngModel)]="data.root">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label style="width:100%;">Replacement word</mat-label>
        <input name="replacement" matInput placeholder="knock eternal" [(ngModel)]="data.replacement">
      </mat-form-field>
      <button type="submit" mat-flat-button color="primary">add</button>
    </form>
  </mat-grid-tile>
</mat-grid-list>
