<mat-grid-list cols="4" rowHeight="100px" style="display:contents;">
  <form #f="ngForm" (keyup.enter)="make(f.value)">
    <mat-grid-tile colspan="4" rowspan="1">
      <div>make a sentence</div>
    </mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan="1">
      <div>
      </div>
      <mat-form-field class="item">
        <mat-label>senetence here</mat-label>
        <input name="value" class="input" matInput placeholder="i am nocturnal" [(ngModel)]="data.value">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan="1">
      <button (click)="copy()" mat-flat-button class="copy item">{{data.boneappletea}}</button>
    </mat-grid-tile>
  </form>
</mat-grid-list>  
