<mat-grid-list cols="4" rowHeight="100px" style="display:contents;">
  <form #f="ngForm" (keyup.enter)="make(f.value)">
    <mat-grid-tile colspan="4" rowspan="1">
      <div>make a sentence</div>
    </mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan="1">
      <div>
      </div>
      <mat-form-field class="item">
        <mat-label>senetence here</mat-label>
        <input id="bat" name="value" class="input" matInput placeholder="i am nocturnal" [(ngModel)]="data.value">
      </mat-form-field>
    </mat-grid-tile>
  </form>

  <mat-grid-tile colspan="4" rowspan="1">
    <button *ngIf="data.boneappletea" (click)="copy(data.boneappletea)" mat-flat-button class="copy item">
      <mat-icon style="float:left; padding-top:5px;">file_copy</mat-icon>
      {{data.boneappletea}}
    </button>
  </mat-grid-tile>
</mat-grid-list>  
