.item{
    min-width:50%;
}

.title {
    font-size:3rem;
    font-weight:bold;
}

.button{
    background:#00b894; 
    color:white;
}

.copy{
    background:#0984e3; 
    color:white;
}

.input {
    font-size:2rem;
    text-align:center;
}

::ng-deep .error{
    background:red;
    color:white;
    text-align:center;
}

::ng-deep .success{
    background:green;
    color:white;
    text-align:center;
}
