<mat-toolbar id="navbar" class="bg">
  <mat-toolbar-row>
    <button mat-button routerLink="/add" routerLinkActive="active" class="link">Add</button>
    <button mat-button routerLink="/make"  routerLinkActive="active" class="link">Make</button>
    <button mat-button routerLink="/words" routerLinkActive="active" class="link">Words</button>
    <span class="spacer"></span>
    <button mat-button routerLink="" class="home">BoneAppTea</button>
    <span class="spacer"></span>
    <button mat-button routerLink="/donate"  routerLinkActive="active" class="link">
      Donate To Covid Releaf
    </button>
    <button mat-button routerLink="/contact" routerLinkActive="active" class="link">Contact</button>
  </mat-toolbar-row>
</mat-toolbar>
