<ActionBar title="boneappletea"></ActionBar>

<FlexboxLayout flexDirection="column">
    <FlexboxLayout class="m-15">
      <TextField hint="Enter setnece"
             secure="false"
             returnKeyType="done"
             (returnPress)="onReturnPress($event)"
             autocorrect="false"
             maxLength="144"
             (focus)="onFocus($event)"
             (blur)="onBlur($event)">
      </TextField>
    </FlexboxLayout>
    <Label class="h2" [text]="viewModel.boneappletea"></Label>
</FlexboxLayout>
